<a href="https://colab.research.google.com/github/sp6249sec28/Data_Science/blob/main/DS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# - comments - comments are not part of our program/code, they are only for labelling
#Run/execute a cell = Ctrl + enter, shift + enter, Alt + enter

#[1] - here 1 means the order of execution
#[2] - here 2 means the order of execution

#.ipynb - .interactive python notebook
#.py - .python

In [ ]:
#PYTHON BASICS

In [ ]:
#VARIABLES - A NAMED MEMORY LOCATION
a = 100

In [ ]:
a

100

In [ ]:
print(a)

100

In [ ]:
#Now let us check the datatype of a
type(a)

int

In [ ]:
a = 51
a

51

print(a)

In [ ]:
a = 54.8
a

54.8

In [ ]:
print(a)

54.8

In [ ]:
type(a)

float

In [ ]:
a =25

In [ ]:
b = 36.9

In [ ]:
c = True

In [ ]:
d = 'Hello World'

In [ ]:
#Now I want to print the values which are stored in these variables
print(a)
print(b)
print(c)
print(d)

25
36.9
True
Hello World

In [ ]:
print(a, b, c, d)

25 36.9 True Hello World

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
m = print(a, b, c, d)
m

25 36.9 True Hello World

In [ ]:
a = 25
b = 15

In [ ]:
#Add
c = a+b
c

40

In [ ]:
# Subtraction
s = a-b
s

10

In [ ]:
#Multiplication
m = a*b
m

375

In [ ]:
#Division
d = a/b #Quotient in decimal point
d

1.6666666666666667

In [ ]:
#Floor Division
e = a//b #Quotient in whole number
e

1

In [ ]:
f = a%b #Remainder
f

10