<a href="https://colab.research.google.com/github/sp6249sec28/Data_Science/blob/main/DS4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Take the data and create dataframe
import pandas as pd
df = pd.read_csv('/content/train.csv')
df

In [ ]:
df.shape #891 rows and 12 columns

In [ ]:
df.size #It tells us the total number of elements in df

In [ ]:
df.info()

In [ ]:
#To check the null values or missing values
df.isnull().sum()

In [ ]:
#Now I want to know the number of unique elements in each and every column
df.nunique()

In [ ]:
#VISUALISATION - SEABORN
import seaborn as sns
sns.countplot(x = 'Survived',data = df)

In [ ]:
#I want to know the exact count of no of people Survived and no of people not survived
df.groupby('Survived').size()

In [ ]:
df['Survived'].value_counts()

In [ ]:
df.Survived.value_counts()

In [ ]:
#Now I want to know how many males and how many females were on the titanic
sns.countplot(x = 'Sex',data = df)

In [ ]:
#Finding out the exact count of no of males and no of females on the titanic
df.groupby('Sex').size()

In [ ]:
df['Sex'].value_counts()

In [ ]:
df.Sex.value_counts()

In [ ]:
import numpy as np
young = np.sum((df['Age']>=0)&(df['Age']<20))
adult = np.sum((df['Age']>=20)&(df['Age']<40))
midage = np.sum((df['Age']>=40)&(df['Age']<60))
old = np.sum((df['Age']>=60))
print(young)
print(adult)
print(midage)
print(old)

In [ ]:
#The age column had 714 values only
164+387+137+26

714

In [ ]:
#i want to find out the eldest person aboard titanic
np.max(df['Age']) #80 years

80.0

In [ ]:
#I want to find out the youngest person aboard titanic
np.min(df['Age']) #0.42 years ~= 5 months

0.42

In [ ]:
#ASSIGNMENT
#FIND OUT HOW MANY MALES AND HOW MANY FEMALES HAVE SURVIVED AND NOT SURVIVED TITANIC

In [ ]:
df[["Sex", "Survived"]].groupby(['Sex']).mean().sort_values(by='Survived')

NameError: ignored

In [ ]:
df.groupby(['Survived','Sex']).size()

Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
dtype: int64

In [ ]:
survived_m = np.sum((df['Sex']=='male')&df['Survived']==1)
survived_m

109