<a href="https://colab.research.google.com/github/sp6249sec28/Data_Science/blob/main/DS6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#28th May , 2023
#CLassification - Logistic Regression
#It Classifies our data into different classes
#ex: 0 or 1,True or False,Cat or Dog,Car or Bike,Person suffering from fever or not,1 or 2,1 or 2 or 3.

In [ ]:
#dataset - SOCIAL NETWORK ADS
#dataset - https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/Social_Network_Ads.csv

In [ ]:
#1.Take the data and create dataframe
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
#Purchased - OUTPUT
#Age and Estimated Salary - INPUT

In [ ]:
df.shape #400 rows and 5 cols

(400, 5)

In [ ]:
df.size

2000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
#Purchased - 0 and 1
#0 - Not Purchased
#1 - Purchased
#Age and Estimated - INPUT
#Purchased - OUTPUT

In [ ]:
#I want to know the exact count of How many people have Purchased and Not Purchased
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [ ]:
#2.Pre Processing - Not Required

In [ ]:
#3.Data Visualisation - Here I cannot perform Visualisation for Classification .

In [ ]:
#4.Divide the data into input and output
x = df.iloc[:,2:4].values
x

In [ ]:
y = df.iloc[:,4].values
y

In [ ]:
#5.TRain and Test Variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0) #random_state =0 is to avoid duplicates
#By default training variables get 75% of data and testing variables get the remaining 25% of the data

In [ ]:
print(x.shape) #100%
print(x_train.shape) #75%
print(x_test.shape)#25%

(400, 2)
(300, 2)
(100, 2)

In [ ]:
print(y.shape) #100%
print(y_train.shape) #75%
print(y_test.shape)#25%

(400,)
(300,)
(100,)

In [ ]:
#6.NORMALISATION or SCALING(done only for inputs)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [ ]:
#7.Apply a CLASSIFIER,regressor or clusterer
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
#8.fit the model(we are giving out data to the Logistic Regression library)
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
#9.Predict the output
y_pred = model.predict(x_test) #using the input testing values , we predict the output
y_pred #PREDICTED OUTPUT VALUES

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1])

In [ ]:
y_test #ACTUAL VALUES

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1])

In [ ]:
#10.Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

89.0

In [ ]:
#Individual Prediction
a = scaler.transform([[25,50000]])
a

array([[0.16666667, 0.25925926]])

In [ ]:
model.predict(a)

array([0])

In [ ]:
b = scaler.transform([[46,41000]])
b

array([[0.66666667, 0.19259259]])

In [ ]:
model.predict([[0.66666667, 0.19259259]])

array([0])

In [ ]:
# ASSIGNMENT1:
#take the dataset from github.com/ameenmanna8824
# 1.Salary_Data.csv and perform Linear Regression(REGRESSION)
# 2.IRIS.csv and perform Logistic Regression(CLASSIFICATION)