<a href="https://colab.research.google.com/github/sp6249sec28/Data_Science/blob/main/DS8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#WEB SCRAPING - EXTRACTING/SCRAPING OF THE DATA FROM THE WEB.
#We will be scraping the Amazon Customer Reviews from Amazon website
#BeautifulSoup - Tool used for web scraping.
#url -https://www.amazon.in/Apple-iPhone-128GB-Space-Black/product-reviews/B0BDJ22G36/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

In [ ]:
url = 'https://www.amazon.in/Apple-iPhone-128GB-Space-Black/product-reviews/B0BDJ22G36/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews'
page = requests.get(url) #Requesting the contents of the above url
page
#<Response [200]> is correct.<Response [503]> is an error. Try rerunning your cell for 6 to 8 times and get <Response [200]>.
#Even after rerunning  the cell multiple times , if you do not get the output , check for proper url

In [ ]:
page.content # This line prints the html source code of this page

In [ ]:
soup = bs(page.content,'html.parser')
soup  #html.parser - It Makes our source code into better readable format

In [ ]:
#NEVER EVER CONSIDER TOP POSITIVE and TOP CRITICAL REVIEWS

In [ ]:
#Let us just extract the Amazon Customer Review Names
names = soup.find_all('span',class_ = 'a-profile-name')[2:]
names

[<span class="a-profile-name">Benu</span>,
 <span class="a-profile-name">Benu</span>,
 <span class="a-profile-name">Mr. M</span>,
 <span class="a-profile-name">Mr. M</span>,
 <span class="a-profile-name">Gaurav Shahdeo</span>,
 <span class="a-profile-name">Lakshmesh Kumar Singh </span>,
 <span class="a-profile-name">AKASH SHARMA</span>,
 <span class="a-profile-name">Vishal</span>,
 <span class="a-profile-name">Amazon Customer</span>,
 <span class="a-profile-name">Kavya</span>,
 <span class="a-profile-name">Atreyapurapu Radha Madhav</span>,
 <span class="a-profile-name">Dibyaprakash Pradhan</span>]

In [ ]:
len(names)

12

In [ ]:
#Using the above list names , let us create a dataframe
import pandas as pd
df = pd.DataFrame(names,columns = ['Customer Name'])
df

                Customer Name
0                        Benu
1                        Benu
2                       Mr. M
3                       Mr. M
4              Gaurav Shahdeo
5      Lakshmesh Kumar Singh
6                AKASH SHARMA
7                      Vishal
8             Amazon Customer
9                       Kavya
10  Atreyapurapu Radha Madhav
11       Dibyaprakash Pradhan

In [ ]:
#I want to drop the duplicates here
df = df.drop_duplicates(ignore_index = True)
df

               Customer Name
0                       Benu
1                      Mr. M
2             Gaurav Shahdeo
3     Lakshmesh Kumar Singh
4               AKASH SHARMA
5                     Vishal
6            Amazon Customer
7                      Kavya
8  Atreyapurapu Radha Madhav
9       Dibyaprakash Pradhan

In [ ]:
#Now let us scrape the review title
r_title = soup.find_all('a',class_ = 'review-title')
r_title

[<a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R178VH7LMPCE3E?ASIN=B0BDJ22G36">
 <span>The Apple Pro Max 14: A Powerful Beast That Delivers on All Fronts</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R17P1DM00FSJKF?ASIN=B0BDJ22G36">
 <span>Great</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/RWLXTQ7FQE5NS?ASIN=B0BDJ22G36">
 <span>About phone</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R12BUCFRQ6R3XF?ASIN=B0BDJ22G36">
 <span>Good</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R25FKA539B9KLN?ASIN=B0BDJ22G36">
 <span>Android is better when it comes to os</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R11BA0GHPQRPUQ?ASIN=B0BDJ22G36">
 <span>Phone is much better</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/RGE0MP3MP9CTN?ASIN=B0BDJ22G36">
 <span>Super</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R30J3P5QM25FD3?ASIN=B0BDJ22G36">
 <span>Excellent</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R2GMNHGLNG3OE9?ASIN=B0BDJ22G36">
 <span>Most Trusted Online Site</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R39MJ9X8D45COR?ASIN=B0BDJ22G36">
 <span>True Value</span>
 </a>]

In [ ]:
len(r_title)

10

In [ ]:
#Data Cleaning/Filtering
review_title = [] #empty list

#for i in range(0,10):
for i in range(0,len(r_title)):
  review_title.append(r_title[i].get_text()[1:-1])
review_title

['The Apple Pro Max 14: A Powerful Beast That Delivers on All Fronts',
 'Great',
 'About phone',
 'Good',
 'Android is better when it comes to os',
 'Phone is much better',
 'Super',
 'Excellent',
 'Most Trusted Online Site',
 'True Value']

In [ ]:
#Now let us scrape the review date
dates = soup.find_all('span',class_ = 'review-date')[2:]
dates

[<span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 25 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 25 January 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 23 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 24 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 18 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 18 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 20 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 30 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 8 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 10 May 2023</span>]

In [ ]:
len(dates)

10

In [ ]:
#Data Cleaning
review_date = [] #empty list
for i in range(0,len(dates)):
  review_date.append(dates[i].get_text().replace('Reviewed in India 🇮🇳 on ',''))
review_date

['25 May 2023',
 '25 January 2023',
 '23 May 2023',
 '24 May 2023',
 '18 April 2023',
 '18 May 2023',
 '20 May 2023',
 '30 May 2023',
 '8 May 2023',
 '10 May 2023']

In [ ]:
#Next is Review rating in stars
rating = soup.find_all('i',class_ = 'review-rating')[2:]
rating

[<i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>]

In [ ]:
len(rating)

10

In [ ]:
#data cleaning
review_rating = [] #empty list
for i in range(0,len(rating)):
  review_rating.append(rating[i].get_text())
review_rating

['5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '4.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars']

In [ ]:
#Next is review title content
content = soup.find_all('span',class_ = 'review-text')
content

In [ ]:
len(content)

10

In [ ]:
#Data cleaning
review_content = []
for i in range(0,len(content)):
  review_content.append(content[i].get_text().replace('\n',''))
review_content

In [ ]:
df['Review title'] = review_title
df['Review date'] = review_date
df['Review rating'] = review_rating
df['Review content'] = review_content
df

,Customer Name,Review title,Review date,Review rating,Review content
0,Benu,The Apple Pro Max 14: A Powerful Beast That De...,25 May 2023,5.0 out of 5 stars,The Apple Pro Max 14 is the latest addition to...
1,Mr. M,Great,25 January 2023,5.0 out of 5 stars,Apple hasn’t made any bones about the fact tha...
2,Gaurav Shahdeo,About phone,23 May 2023,5.0 out of 5 stars,The iPhone Pro Max series typically offers a l...
3,Lakshmesh Kumar Singh,Good,24 May 2023,5.0 out of 5 stars,Good
4,AKASH SHARMA,Android is better when it comes to os,18 April 2023,4.0 out of 5 stars,Switched to iphone from android and i miss som...
5,Vishal,Phone is much better,18 May 2023,5.0 out of 5 stars,Like
6,Amazon Customer,Super,20 May 2023,5.0 out of 5 stars,Amazing project
7,Kavya,Excellent,30 May 2023,5.0 out of 5 stars,The media could not be loa...
8,Atreyapurapu Radha Madhav,Most Trusted Online Site,8 May 2023,5.0 out of 5 stars,Trust the product delivery on time and correct...
9,Dibyaprakash Pradhan,True Value,10 May 2023,5.0 out of 5 stars,"Premium experience, monstrous performance"

In [ ]:
df.to_csv('amazon1.csv')

In [ ]:
#Assignment 1 - to be submitted in form of a pdf file
#page 1 - Name and Introduction and other details
#page 2 onwards - Put in your python code cell by cell/Google colab screenshots

#Subject - Teachnook DataScience Assignment 1
#mail.ameenmanna@gmail.com
#Last date - 12th June,2023

In [ ]:
#Assignment 2 -  Take any dataset of your choice and apply Exploratory Data Analysis and find out
#atleast 5 different facts/conclusions.

In [ ]:
#tinyurl.com/teachnookds1 - Google Drive link/url